{% extends "main/base.html" %}
{% block content %}

    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
             {% if person %}
                {% for person in person %}
              
                {% if forloop.first %}
                <h2>{{ person.rubric }} category profiles:</h2>
                <hr/>
                {% endif %}
              
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                      <h2 class="card-text"><a href="{% url 'main:profile' aid=person.pk %}">{{ person.user.username }}</a></h2>    
                      <h3 class="card-text">About: {{ person.biography }}</h3>
                      <h3 class="card-text">Dream: {{ person.dream }}</h3>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% else %}
              <h2>There are no profiles with this category.</h2>
              {% endif %}
              
          </div>
        </div>
    </div>
    
{% endblock content %}