<!DOCTYPE html>

{% load thumbnail %}
{% load static %}

<html>
<head>
<title>Dreamer v1.2</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/indexcss.css' %}">
</head>
<body>
    <div class="header">
    <h2><img src="{% static 'logo/logo.png' %}" height="100" width="100" class="logo"><a href="{% url 'main:profile' aid=request.user.id %}">
    {% if request.user.is_authenticated %} Привет,{{request.user.username}}!</a>{% endif %}
    {% if not request.user.is_authenticated %}<a class="headertext" href="{% url 'main:register' %}" >Зарегистрироваться</a> <a class="headertext" href="{% url 'main:login' %}" >Войти</a>{% endif %} {% if request.user.is_authenticated %}<a class="headertext" href="{% url 'main:logout' %}" >Выйти</a>{% endif %} <a class="headertext" href="{% url 'main:homepage' %}" >Главная</a> <a class="headertext" href="{% url 'main:my_subscribes' %}">Мои подписки</a> <a href="{% url 'main:profile' aid=request.user.id %}"></a> <a class="headertext" href="{% url 'main:profile' aid=request.user.id %}">Мой Профиль</a> <a class="headertext" href="{% url 'main:searchinput' %}">Поиск</a></h2>
    </div>
    
    {% if person %}
    
        {% for person in person %}
        {% if person.id != request.user.id %}
        <div class="person"> 
        <h2><a href="{% url 'main:profile' aid=person.pk %}">{{ person.user.username }}</a></h2>
        <h3>О себе: {{ person.biography }} </h3>
        <h3>Мечта: {{ person.dream }} </h3>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
        <h2>Профилей с такой категорией не существует.</h2>
    {% endif %}
</body>
</html>