{% extends "main/base.html" %}
{% block content %}
{% load thumbnail %}

<!-- DETAIL -->
<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
                
                  <div class="card mb-4 box-shadow">

                    {% if blog.image %}
                    <img class="card-img-top" src="{% thumbnail blog.image 'default' %}">
                    {% endif %}

                    <div class="card-body">
                      <h4 class="card-text"><a class="p-q text-muted" href="{% url 'main:profile' aid=blog.authorid %}">{{ blog.author }}</a></h4>
                      <h3 class="card-text"><a href="{% url 'main:detail' blog_id=blog.id %}">{{ blog.title }}</a></h3>
                      {% if blog.text %}
                      <hr>
                      <p class="card-text">{{ blog.text }}</p>
                      {% endif %}
                      <hr>
                      <p class="card-text">{{ blog.views }} - Views</p>
                        
                      
                        
                      <h2>
                      {% if request.user.username == blog.author or request.user.is_staff %}
                        <button type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'main:delete' blog_id=blog.pk %}">Delete</button>
                      {% endif %}

                      {% if request.user.username != blog.author and blog.authorid not in request.user.person.subscribed %}
                        <button type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'main:subscribe' author_id=blog.authorid %}">Subscribe</button>
                      {% endif %}

                      {% if request.user.username != blog.author and blog.authorid in request.user.person.subscribed %}
                        <button type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'main:unsubscribe' author_id=blog.authorid %}">Unsubscribe</button>
                      {% endif %}
                      </h2>
                        
                    </div>
                    
                  </div>
                
          </div>
        </div>
      </div>
    
    
    
    
    <!-- COMMENTS -->
    
    
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% if comment %}
            <h1 class="cover-heading">Comments</h1>
            {% endif %}
            <div class="col-md-4">
            {% for comment in comment %}
    
                  <div class="card mb-4 box-shadow">

                    <div class="card-body">
                      <h4 class="card-text"><a class="p-q text-muted" href="{% url 'main:profile' aid=blog.authorid %}">{{ comment.comment_author }}</a></h4>
                      <p class="card-text">{{ comment.comment_text }}</p>
                      <hr>
                      <p class="card-text">{{ comment.comment_published }} - Views</p>
                        
                      {% if request.user.username == comment.comment_author or request.user.is_staff %}
                      <div class="btn-group">
                      <h3>
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'main:comment_delete' blog_id=blog.pk comment_id=comment.pk %}">Delete Comment</a>
                      </h3>
                      {% endif %}
                      </div>
                    </div>
                      
                </div>
            {% endfor %} 
            
            <h2 class="cover-heading">Add comment</h2>
            {% load crispy_forms_tags %}
            <form action=""method = "post">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <input type="submit" class="btn btn-lg btn-block btn-primary" value="Send">
            </form>
            
          </div>
          </div>
        </div>
      </div>
    
{% endblock %}