<!DOCTYPE html>

{% load thumbnail %}
{% load static %}

<html>
<head>
<title>Dreamer</title>
<link rel="stylesheet" href="{% static 'css/indexcss.css' %}">
</head>
<body>
    <div class="header">
    <h2><img src="{% static 'logo/logo.png' %}" height="100" width="100" class="logo">
    <a href="{% url 'main:profile' aid=request.user.id %}">{% if request.user.is_authenticated %}Привет,{{request.user.username}}!</a>{% endif %}{% if not request.user.is_authenticated %}<a class="headertext" href="{% url 'main:register' %}" >Зарегистрироваться</a> <a class="headertext" href="{% url 'main:login' %}" >Войти</a>{% endif %} {% if request.user.is_authenticated %}<a class="headertext" href="{% url 'main:logout' %}" >Выйти</a>{% endif %} <a class="headertext" href="{% url 'main:homepage' %}" >Главная</a> <a class="headertext" href="{% url 'main:my_subscribes' %}">Мои подписки</a> <a href="{% url 'main:profile' aid=request.user.id %}"></a> <a class="headertext" href="{% url 'main:profile' aid=request.user.id %}">Мой Профиль</a></h2>
    </div>
    
    <div class="blogdetail">
    {% if blog.image %}
    <img src="{% thumbnail blog.image 'default' %}">
    {% endif %}
    <h1><a href={% url 'main:profile' aid=blog.authorid %}>Автор: {{ blog.author }}</a></h1>
    <h1>{{ blog.title }}</h1>
    <h2>{{ blog.text }}</h2>
    <h3>{{ blog.published|date:"d.m.Y H:i" }}</h3>
    <h3>{{ blog.views }} - Просмотров</h3>
    
    {% if request.user.username == blog.author %}
    <h2><a href="{% url 'main:delete' blog_id=blog.pk %}">Удалить</a></h2>
    {% endif %}
        
    {% if request.user.username != blog.author and blog.authorid not in request.user.person.subscribed %}
    <h2><a class="subunscribebutton" href="{% url 'main:subscribe' author_id=blog.authorid %}">Подписаться</a></h2>
    {% endif %}
        
    {% if request.user.username != blog.author and blog.authorid in request.user.person.subscribed %}
    <h2><a class="subunscribebutton" href="{% url 'main:unsubscribe' author_id=blog.authorid %}">Отписаться</a></h2>
    {% endif %}
    </div>
    

    
    
    {% if comment %}
    <h2>Комментарии:</h2>
    {% for comment in comment %}
    <div class="comments">
    <h2><a href="{% url 'main:profile' aid=comment.comment_authorid %}">{{ comment.comment_author }}</a></h2>
    <h3>{{ comment.comment_text }}</h3>
    <h3>{{ comment.comment_published }}</h3>
    {% if request.user.username == comment.comment_author or request.user.is_staff %}
    <h3><a href="{% url 'main:comment_delete' blog_id=blog.pk comment_id=comment.pk %}">Удалить комментарий</a></h3>
    {% endif %}
    </div>
    {% endfor %}
    
    {% else %}
    <h2>Комментарии отсутсвуют. Вы можете стать первым!</h2>
    
    {% endif %}
    

    <h2>Добавление комментария:</h2>
    <form action=""method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
</body>
</html>