{% extends "main/base.html" %}
{% block content %}

    
    <!-- EMAIL_EDIT -->
    <div class="container">
        <br/>
        <h2>Enter your Email</h2>
        {% load crispy_forms_tags %}

        <form class="searchform" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <input type="submit" class="btn btn-lg btn-block btn-primary">
        </form>
    </div>
    
    
    <!-- FOOTER -->
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
            <a href="#"></a>
            </p>
            <p>All rights reserved by &copy; ComeTrue, 2021</p>
        </div>
    </footer>

{% endblock content %}