{% extends "main/base.html" %}
{% block content %}

    <!-- PROFILES -->
    <div class="album py-5 bg-light">
        <div class="container">
          
            <div class="row">
            {% for best_person in best_person %}
            {% if best_person.id != request.user.id %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h2 class="card-text"><a href="{% url 'main:profile' aid=best_person.pk %}">{{ best_person.user.username }}</a></h2>    
                  <h3 class="card-text">About: {{ best_person.biography }}</h3>
                  <h3 class="card-text">Dream: {{ best_person.dream }}</h3>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          
    
            {% for person in person %}
            {% if person.id != request.user.id %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h2 class="card-text"><a href="{% url 'main:profile' aid=person.pk %}">{{ person.user.username }}</a></h2>    
                  <h3 class="card-text">About: {{ person.biography }}</h3>
                  <h3 class="card-text">Dream: {{ person.dream }}</h3>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
            
        </div>
    </div>
    
{% endblock %}