{% extends "main/base.html" %}
{% block content %}
{% load thumbnail %}

    
    <!-- SUBSCRIBES -->
    <div class="container">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <h4><a class="p-2 text-muted" href="#">My subscribes:</a></h4>
                {% for sub in sub %}
                {% if sub.person.stringid in request.user.person.subscribed %}
                <h4><a class="p-2 text-muted" href="{% url 'main:profile' aid=sub.id %}">{{ sub.username }}</a></h4>
                {% endif %}
                {% endfor %}
            </nav>
          </div>
    </div>
    
    
    <!-- PUBLICATIONS -->
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for blog in blog %}
                {% if blog.authorid in request.user.person.subscribed %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">

                    {% if blog.image %}
                    <img class="card-img-top" src="{% thumbnail blog.image 'default' %}">
                    {% endif %}

                    <div class="card-body">
                      <h4 class="card-text"><a class="p-q text-muted" href="{% url 'main:profile' aid=blog.authorid %}">{{ blog.author }}</a></h4>
                      <p class="card-text">{{ blog.title }}</p>
                      <hr>
                      <p class="card-text">{{ blog.views }} - Viewss</p>
                    </div>
                    
                  </div>
                </div>
                {% endif %}
            {% endfor %}  
          </div>
        </div>
      </div>

{% endblock content %}