{% extends "main/base.html" %}
{% block content %} 
{% load thumbnail %}
    
    <!-- PROFILE  -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
          
          <!-- GREETING -->  
          {% if request.user.id != profileauthor.id %}
          <h1 class="display-4 font-weight-normal">{{ profileauthor.username }}'s profile – {{ profileauthor.person.subscribes }} followers</h1>
          {% else %}
          <h1 class="display-4 font-weight-normal">Your profile – {{ profileauthor.person.subscribes }} followers</h1>  
          {% endif %}
          
          <!-- INFO -->
          <h2 class="lead font-weight-normal">About - {{ profileauthor.person.biography }}</h2>
          <h2 class="lead font-weight-normal">Dream - {{ profileauthor.person.dream }}</h2>
          <h2 class="lead font-weight-normal">Category - {{ profileauthor.person.rubric }}</h2>
          
          
          <!-- SUBSCRIBE UNSUBSCRIBE CONTACT -->
          {% if profileauthor.person.email != '' and profileauthor.person.stringid != request.user.person.stringid %}
          <h2>
          <a class="btn btn-outline-secondary" href="{% url 'main:contact' contact_user=profileauthor.id %}">Contact</a>
          {% endif %}

          
          {% if profileauthor.id != request.user.id and aid not in request.user.person.subscribed %}
          <a class="btn btn-outline-secondary" href="{% url 'main:subscribe' author_id=profileauthor.id %}">Subscribe</a>
          {% endif %}


          {% if profileauthor.id != request.user.id and aid in request.user.person.subscribed %}
          <a class="btn btn-outline-secondary" href="{% url 'main:unsubscribe' author_id=profileauthor.id %}">Unsubscribe</a>
          {% endif %}
          </h2>      
          
          
          <!-- FOR PROFILE OWNER -->
          {% if request.user.username == profileauthor.username %}
          <h2>
          <a class="btn btn-outline-secondary" href="{% url 'main:add' %}">Add article</a>
          <a class="btn btn-outline-secondary" href="{% url 'main:bioedit' aid=request.user.id %}">About</a>
          <a class="btn btn-outline-secondary" href="{% url 'main:email_edit' aid=request.user.id %}">Bind Email</a>
          </h2>
          {% endif %}
          
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    
    
    
    <!-- PUBLICATIONS -->
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            
            {% for blog in blog %}
                {% if aid == blog.authorid %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">

                    {% if blog.image %}
                    <img class="card-img-top" src="{% thumbnail blog.image 'default' %}">
                    {% endif %}

                    <div class="card-body">
                      <h4 class="card-text"><a class="p-q text-muted" href="{% url 'main:profile' aid=blog.authorid %}">{{ blog.author }}</a></h4>
                      <h3 class="card-text"><a href="{% url 'main:detail' blog_id=blog.id %}">{{ blog.title }}</a></h3>
                      {% if blog.text %}
                      <hr>
                      <p class="card-text">{{ blog.text }}</p>
                      {% endif %}
                      <hr>
                      <p class="card-text">{{ blog.views }} - Views</p>
                    </div>
                    
                  </div>
                </div>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    
{% endblock %}